@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Spartan', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    background-image: url('./images/bg-pattern-top-mobile.svg'), url("./images/bg-pattern-bottom-mobile.svg");
    background-position: 50% 0, 50% 100%;
    background-repeat: no-repeat;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    .info{
        margin-top: 100px;
        text-align: center;
        height: 30vh;
        .title{
            color: hsl(300, 43%, 22%);
            padding: 15px;
            font-size: 30px;
            line-height: 29px;
        }
        .about{
            color:hsl(303, 10%, 53%);
            padding-top: 10px;
            line-height: 23px;
        }
        
    }

    .stats{
        display: flex;
        flex-direction: column;
        height: 30vh;
        width: 100%;
        justify-content: space-around;
        


        .rating{
            padding: 10px;
            width: 100%;
            text-align: center;
            background-color: hsl(300, 24%, 96%);
            border-radius: 8px;
            position: relative;
            display: flex;
            flex-direction: column;

            p{
                font-size: 13px;
                font-weight: bold;
                color: hsl(300, 43%, 22%);
                margin-top: 10px;
            }
            
        }

    }

    .opinions{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        .user{
            background-color: hsl(300, 43%, 22%);
            padding: 40px 20px;
            border-radius: 8px;

            &__data{
             display: flex;
             margin-bottom: 20px;
             align-items: center;
             img{
                 width: 50px;
                 border-radius: 50%;
                 margin-right: 20px;
             }
            }
              &__name{
                 color: white;
                 font-weight: bold;
                 font-size: 13px;
                 margin-bottom: 5px;
             }

             &__verify{
                 font-size: 13px;
                 color: hsl(333, 80%, 67%);
             }

             &__opinion{
                 color:white;
                 font-size: 13px;
                 line-height: 26px;
             }


        }
    }
}


.attribution {
        font-size: 11px;
        text-align: center;
        display: none;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }



@media screen and (min-width: 1300px){
   body{
       background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
       background-position: 3% 0, 90% 50%;
   }
   
   
    main{
       width: 80%;
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows: 50vh 50vh;

       .info{
           width: 70%;

           .title{
               font-size: 50px;
               line-height: 52px;
               text-align: left;
               padding-left: 0;
           }

           .about{
               text-align: left;
               width: 80%;
           }
       }

       .stats{
        margin-top: 10vh;
            
         .rating{
             width: 70%;
             flex-direction: row;
             align-items: center;
             justify-content: center;
             padding: 20px;
             

             p{
                 margin-top: 0;
                 margin-left: 20px;
             }
             &:nth-of-type(1){
                 align-self: flex-start;
             }
             &:nth-of-type(2){
                 align-self: center;
             }
             &:nth-of-type(3){
                 align-self: flex-end;
             }
         }
       }




       .opinions{
           flex-direction: row;
           height: 40vh;
           grid-column: 1 / span 2;
           justify-content: space-between;
           

           .user{
            height: 70%;
            width: 30%;
            padding: 50px 60px;

            &:nth-of-type(1){
                align-self: flex-start;
            }

            &:nth-of-type(2){
                align-self: center;
            }

            &:nth-of-type(3){
                align-self: flex-end;
            }

            
           }
       }
   }
}